#interior {
  width: 100%;
  padding-bottom: 90px;
  background: #ededed;
  overflow: hidden;
  position: relative;

  &::before {
    content: ' ';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: calc((100vw - 1170px) / 2);
    max-width: 360px;
    background: url('images/pat_left.png') repeat-y top right;

    @media (min-width: 1000px) {
      display: block;
    }
  }

  &::after {
    content: ' ';
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    width: calc((100vw - 1170px) / 2);
    max-width: 360px;
    background: url('images/pat_right.png') repeat-y top left;

    @media (min-width: 1000px) {
      display: block;
    }
  }

  @media (min-width: 750px) {
    padding-bottom: 0;
    background: none;
  }

  .slick-dotted {
    margin-bottom: 0 !important;
  }

  .slick-prev {
    left: 50px;
    z-index: 2;
    width: 56px;
    height: 62px;
    background: url('images/left_arr_menu.png') no-repeat center center;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
    }
  }

  .slick-next {
    right: 50px;
    width: 56px;
    height: 62px;
    background: url('images/right_arr_menu.png') no-repeat center center;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
    }
  }

  .slick-dots {
    bottom: -70px;

    @media (min-width: 750px) {
      bottom: 85px;
    }

    li {
      width: 22px;
      height: 22px;
      margin-left: 15px;
      margin-right: 15px;

      &.slick-active {
        button {
          width: 22px;
          height: 22px;

          &::before {
            content: '';
            width: 22px;
            height: 22px;
            background: white;
            border-radius: 50%;
            opacity: 1;
          }
        }
      }

      button {
        width: 22px;
        height: 22px;

        &::before {
          content: '';
          width: 22px;
          height: 22px;
          background: url('images/dot_interior.png') no-repeat center center;
          opacity: 1;
        }
      }
    }
  }

  .sl {
    .slide {
      position: relative;
      width: 100vw;

      img {
        width: 100%;
      }
    }
  }
}
