#main {
  position: relative;

  &::before {
    content: ' ';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: calc((100vw - 1170px) / 2);
    max-width: 360px;
    background: url('images/pat_left.png') repeat-y top right;

    @media (min-width: 1000px) {
      display: block;
    }
  }

  &::after {
    content: ' ';
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    width: calc((100vw - 1170px) / 2);
    max-width: 360px;
    background: url('images/pat_right.png') repeat-y top left;

    @media (min-width: 1000px) {
      display: block;
    }
  }

  picture {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      vertical-align: text-bottom;
    }
  }

  .bottom_link {
    position: absolute;
    bottom: 185px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 750px) {
      bottom: 50px;
    }
  }
}
